
// colors
$primary:#11b7af;
$primary-ligth:#b2efec;
$primary-dark:#043c39;
$primary-dark-transp:rgb(3, 57, 54,0.5);
$secondary:#5377CA;
$secondary-dark:#405a96;
$ligth:#f0f0f0;



// icons colors
$color-html:#e3511c;
$color-css: #1780ca;
$color-sass:#c56393;
$color-js:#f7df1e;
$color-react:#61dbfb;
$color-node-js:#80c829;


// font-size
$font-sm:2rem;
$font-m:2.5rem;
$font-l:3rem;
$font-xl:5rem;



