@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
.logo {
  font-size: 3rem;
  font-weight: bolder;
  color: #043c39;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #043c39, #11b7af);
  color: #f0f0f0;
  height: 5rem;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.menu li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu a {
  text-decoration: none;
  color: #b2efec;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 3rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #f0f0f0;
  position: absolute;
  height: 0.3rem;
  width: 3rem;
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #5377CA;
    height: 2.5em;
    padding: 0.5em;
    transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    width: 100%;
    color: #f0f0f0;
    background-color: #043c39;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.card-1-container .fa-html5 {
  color: #e3511c;
  bottom: 13rem;
  position: relative;
  left: 23rem;
}
.card-1-container .fa-css3-alt {
  color: #1780ca;
  bottom: 8rem;
  position: relative;
  left: 23rem;
}

.card-2-container .fa-sass {
  color: #c56393;
  bottom: 13rem;
  position: relative;
  left: 23rem;
}
.card-2-container .fa-react {
  color: #61dbfb;
  bottom: 8rem;
  position: relative;
  left: 23rem;
}

.card-3-container .fa-sass {
  color: #c56393;
  bottom: 16rem;
  position: relative;
  left: 23rem;
}
.card-3-container .fa-react {
  color: #61dbfb;
  bottom: 11rem;
  position: relative;
  left: 23rem;
}
.card-3-container .fa-node-js {
  color: #80c829;
  bottom: 6rem;
  position: relative;
  left: 23rem;
}

.card-4-container .fa-sass {
  color: #c56393;
  bottom: 13rem;
  position: relative;
  left: 23rem;
}
.card-4-container .fa-square-js {
  color: #f7df1e;
  bottom: 8rem;
  position: relative;
  left: 23rem;
}

@media (min-width: 768px) {
  .container {
    margin: 10rem 0;
  }
}
footer {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
footer h2 {
  color: #5377CA;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
footer input, footer button {
  width: 33rem;
}
footer input,
footer textarea, footer button {
  background-color: #11b7af;
  margin: 1rem 0;
  padding: 0.7rem;
  border: none;
  resize: none;
}
footer ::-moz-placeholder {
  color: #043c39;
}
footer ::placeholder, footer button {
  color: #043c39;
}
footer .fa-github, footer .fa-linkedin {
  color: #5377CA;
}
footer .fa-github {
  position: relative;
  bottom: 32rem;
  right: 10rem;
}
footer .fa-linkedin {
  position: relative;
  bottom: 32rem;
  left: 10rem;
}
footer .fa-github:hover {
  animation-name: ruota;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes ruota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    color: #11b7af;
  }
}
footer .fa-linkedin:hover {
  animation-name: ruota;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes ruota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    color: #11b7af;
  }
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 3rem;
  }
  footer #contact {
    margin-right: 8rem;
    font-size: 2.5rem;
  }
  footer .fa-github {
    top: 15rem;
    right: 52rem;
  }
  footer .fa-linkedin {
    top: 7rem;
    left: -55rem;
  }
}
@media (min-width: 1024px) {
  footer {
    justify-content: center;
  }
}
footer ::-moz-placeholder {
  font-family: "Barlow", sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
}
footer input,
footer textarea, footer button, footer ::placeholder {
  font-family: "Barlow", sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
}

.card-1-container, .card-2-container, .card-3-container, .card-4-container {
  box-shadow: 2px 2px 8px #11b7af;
  background-color: rgba(3, 57, 54, 0.5);
  width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.card-1-container p, .card-2-container p, .card-3-container p, .card-4-container p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.card-1-container .card-img, .card-2-container .card-img, .card-3-container .card-img, .card-4-container .card-img {
  width: 20rem;
}
.card-1-container .card-img img, .card-2-container .card-img img, .card-3-container .card-img img, .card-4-container .card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-1-container button, .card-2-container button, .card-3-container button, .card-4-container button {
  margin: 2rem auto;
  padding: 0.5rem;
  background-color: #405a96;
  border: none;
  border-radius: 5px;
  width: 15rem;
}
.card-1-container button a, .card-2-container button a, .card-3-container button a, .card-4-container button a {
  text-decoration: none;
  color: #b2efec;
  text-shadow: 1px 1px 5px black;
  letter-spacing: 3px;
}
.card-1-container button:hover, .card-2-container button:hover, .card-3-container button:hover, .card-4-container button:hover {
  animation-name: button;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  0% {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  letter-spacing: 3px;
  line-height: 2rem;
  font-size: 1.6rem;
  background-image: url(../images/bg-verde.jpg);
  background-size: cover;
}
body h1,
body h2 {
  color: #5377CA;
}
body .sub-title {
  text-align: center;
  margin: 5rem 0 5rem 0;
}
body span,
body p,
body h3 {
  color: #f0f0f0;
}

header {
  width: 30rem;
  height: 30rem;
  margin: 10rem auto;
}
header h2 {
  margin: 2rem 0;
}
header p {
  margin-top: 5rem;
}
header .header-title {
  position: relative;
  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes title {
  0% {
    top: -30rem;
  }
  100% {
    top: 0rem;
  }
}
header p {
  position: relative;
  animation-name: paragraph;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes paragraph {
  0% {
    right: -120rem;
  }
  100% {
    right: 0rem;
  }
}

.skills {
  text-align: center;
}
.skills img {
  margin: 2rem;
}

@media (min-width: 768px) {
  header {
    width: 65rem;
    height: 35rem;
  }
  header h1 {
    font-size: 5rem;
    margin-bottom: 5rem;
  }
  header h2 {
    font-size: 3rem;
  }
  header p {
    margin-top: 8rem;
    line-height: 2.5rem;
  }
  .sub-title {
    font-size: 3rem;
  }
  .skills {
    height: 60rem;
  }
  .skills img {
    margin: 5rem;
  }
}
@media (min-width: 1000px) {
  @keyframes title {
    0% {
      top: -30rem;
      left: -30rem;
    }
    100% {
      top: 10rem;
      left: -10rem;
    }
  }
  @keyframes paragraph {
    0% {
      right: -160rem;
    }
    100% {
      right: -25rem;
    }
  }
  .skills img {
    margin: 5rem 10rem 5rem 10rem;
  }
}/*# sourceMappingURL=main.css.map */